*{
  box-sizing: border-box;
}
body{
  margin: 100px;
}
div{
  width: 150px;
  height: 150px;
  background-color: rgb(16, 122, 11);


  animation-name: background-change;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction:alternate ;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: 50%;
}
.div:hover{
  animation-play-state: paused;
}
 @keyframes background-change{
  

25%{
  background-color: rgb(125, 81, 73);
 transform:scale(1);
 border-left: 15px;
 box-shadow: none;
 margin-right: 50px;
 display: block;
 margin-left: 50px;
 margin-top: -15px;
 width: 50px;
 height: 50px;

}
50%{
  background-color: blue;
  transition-property: none;
}
